:root {
  --text-primary: #333333;
  --text-secondary: #56616d;
  --text-contrast: #620074;
  --text-contrast-hover: #9100a1;
  --page-background: linear-gradient(125deg, #1ea0eb, #8d969f);
  --panel-background: #d6e8fa;
  --panel-background-hover: #b9c4cf;
  --panel-border: #8d969f;
}

[data-theme='dark'] {
  --text-primary: #cccccc;
  --text-secondary: #56616d;
  --text-contrast: #e4c6e9;
  --text-contrast-hover: #faeffc;
  --page-background: linear-gradient(125deg, #24063f, #7829f7);
  --panel-background: #26212b;
  --panel-background-hover: #463e4e;
  --panel-border: #2f2d30;
}

[data-theme='sepia'] {
  --text-primary: #3d342b;
  --text-secondary: #6b5a49;
  --text-contrast: #5e3712;
  --text-contrast-hover: #49290d;
  --page-background: linear-gradient(125deg, #a86e2c, #eee0c9);
  --panel-background: #ead8b7;
  --panel-background-hover: #d1a478;
  --panel-border: #412a17;
}
