.Button {
  background: var(--text-contrast);
  color: var(--text-primary);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.Button:hover {
  background: var(--text-contrast-hover);
}

.Button[data-disabled] {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
